In [32]:
'''This code was created to enable anyone with a python IDE, reguardless of access to BI's proprietary tools, 
be able to match the DCA SQL chron results to a vertical without knowledge of the DCA brands. 
To use this you will need to have access to the daily chron results & the live document of brands for the DCA
team. For access to these components please conatact LeGO associate, B. Knight (bknight@indeed.com)

Use: 
1)download the usDcaDailyRun_[DATE].tsv from the chron results to the same folder as this file 
(please ensure they are in the same file - this is so that the data can be removed after matched
this is to follow the Indeed PII regulations)
2) ensure it is the same day information [amend the file name on line 21 & comment out 20]
3) Run! 
Your newly created doc ('US-S.csv' in the root folder) will contain the information for upload!
'''

import pandas as pd
import re
import datetime as dt

#format the daily file name (done daily so the date is = to the current date) for the SQL results
daily_file_date = dt.datetime.now().strftime("%Y_%m_%d")
daily_file = "usDcaDailyRun_"+daily_file_date+".tsv"

#reads the index list of brands to verticals (an external dictionary)
#pulls in the brand field and creates a compiled list of brands 
vertical_list = pd.read_table("brands_verticals.tsv")
vert_list_str = str(vertical_list['brand'])
normtitle_list = tuple(vertical_list['brand'])
test_list = re.compile('|'.join(normtitle_list))


#pulls in the daily SQL result file to match a lower case version of the company names 
#creates a new row for them
pDCA = pd.read_table(daily_file)
pDCA.head()
pDCA['daily_list'] = pDCA['company'].str.lower()

#creates a function for iterating through the daily_list seraching for partial matches to the company names
def re_search(x):
    match = re.search(test_list, x)
    if match:
        return match.group(0)

#add column to daily df and adds a column for the vertical match (type) to the brand with function defined above
pDCA['brand match'] = pDCA['daily_list'].apply(re_search)

# merges results to new csv 'us-s'
company_list_merged = pd.merge(pDCA, vertical_list, how='left', left_on='brand match', right_on='brand')[['account_id','daily_list','brand','vertical']]
company_list_merged['vertical'].fillna('#N/A', inplace=True)
company_list_merged.to_csv('US-S.csv', encoding='utf-8')

#print the results to check for error 
company_list_merged

,account_id,daily_list,brand,vertical
0,349323464,autofixtures engineering,NaN,#N/A
1,349324300,jc media group,NaN,#N/A
2,349334234,burnsville auto repair,NaN,#N/A
3,349336396,megaplanit,NaN,#N/A
4,278356590,application engineering services (aes) group,NaN,#N/A
5,349342758,"gibby group, llc",NaN,#N/A
6,349344152,waipio auto repair,NaN,#N/A
7,349344475,gs realty sdn bhd 国际地产,NaN,#N/A
8,349349858,pactolus private wealth management llc,NaN,#N/A
9,349350909,docolgroup,NaN,#N/A
10,300168876,crowne plaza hotel,crowne plaza,WELL
11,349351617,kai real estate,NaN,#N/A
12,349353308,max lifestyle,NaN,#N/A
13,349359021,port royal plantation,NaN,#N/A
14,349361815,sai service ( maruti suzuki ),suzuki,AUTO
15,349368507,indian auto care,NaN,#N/A
16,2598654,kforce staffing agency,NaN,#N/A
17,349369881,tamco group,NaN,#N/A
18,349371321,titan development group llc,NaN,#N/A
19,341667736,first choice automotive,NaN,#N/A
20,349373693,vijaya group aik llp,NaN,#N/A
21,63926942,bwi group,NaN,#N/A
22,301398877,tata motors,NaN,#N/A
23,272931953,dunkin' donuts,NaN,#N/A
24,349373884,infiniti of gwinnett,infiniti,AUTO
25,349376199,westin enterprise,westin,WELL
26,349377031,napa hevel automotive inc,NaN,#N/A
27,349379352,janwood group,NaN,#N/A
28,349379963,new life builders & home improvement,NaN,#N/A
29,349380759,"ribway engineering group, inc.",NaN,#N/A
...,...,...,...,...
293,349295672,hyundai glovis,hyundai,AUTO
294,349296781,cleveland realty group,NaN,#N/A
295,349298877,zensho agency,NaN,#N/A
296,349299025,aldo groupe - aldo shoes,NaN,#N/A
297,349301026,barnes law group,NaN,#N/A
298,349301445,sunlife financial,NaN,#N/A
299,349301810,clark capital management group,NaN,#N/A
300,318215928,licensed home care agency,NaN,#N/A
301,349303335,sprint by imobile,sprint,COMM
302,349303364,culvers of avon,NaN,#N/A
303,349304757,larry auto sales,NaN,#N/A
304,349305074,fast track auto center,NaN,#N/A
305,349305272,dakota management group. llc,NaN,#N/A
306,349305847,proteus discovery group,NaN,#N/A
307,349306169,the ridge @ the hotel belvidere,NaN,#N/A
308,349306281,suegroup pet ltd,NaN,#N/A
309,349306431,"dreamkeeper realty, llc",NaN,#N/A
310,349309479,sound mindfulness group,NaN,#N/A
311,349308682,accelerant business services/ ameriprise franc...,ameriprise,INS
312,264412516,dunkin' donuts,NaN,#N/A
313,349311749,millenium auto service,NaN,#N/A
314,298058698,primerica insurance services,insurance,INS
315,349313336,music 4 life,NaN,#N/A
316,349313765,scott's auto glass,NaN,#N/A
317,349313808,friends4life foundation,NaN,#N/A
318,349314656,signature dental group,NaN,#N/A
319,233626724,dairy queen,dairy queen,QSR
320,349319561,diamondhead inn,NaN,#N/A
321,349320121,metro pcs (authorized retailer),NaN,#N/A
322,349320801,quick stop auto repair inc.,NaN,#N/A